.spinner-wrapper {
    margin-top: 40px;
}

.spinner {
    display: flex;
    justify-content: center;
}

.spinner::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 6px solid var(--greyE7);
    border-top-color: var(--yellowHover);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}